<html>
<div class="page-header">
    <figure id="logo"></figure>
    <img src="assets/logo.png" alt="logo" />
</div>
<h2>Programa </h2>

<body>
    <img id="bg" src="assets/unicesmag.jpg" alt="fondo" />
    <br>
    <form>

        <fieldset>
           
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput3" class="form-label">Codigo proyecto</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput4" class="form-label">Actividad</label>
                <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput5" class="form-label">Plan mejoramiento</label>
                <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput6" class="form-label">Caracteristica</label>
                <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="">
            </div>
            <div class="container">
                <a href="descripcion" class="btn btn-secondary btn-lg" data-toogle="modal">descripcion</a>
                <div class="modal fade" id="descripcion">
                    <div class="modal dialog">
                        <div class="modal content">
                            <div class="modal-header">
                                <h2 class="modal-title">dessd</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <label>Responsables</label>
            <select name="selTipo">
                <option value="moto">Jorge rivera</option>
                <option value="auto">omar Revelo</option>
                <option value="bus">Joan Ayala</option>
                <option value="camion">Edgar Colunge</option>
            </select>
            <div class="mb-3">
                <label for="formFile" class="form-label">Evidencias</label>
                <input class="form-control" type="file" id="formFile">
            </div>
            <label for="exampleDataList" class="form-label">Lugar (Departamento) </label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Lugar">
            <datalist id="datalistOptions">
                <option value="Nariño">
                <option value="Putumayo">
                <option value="Cundinamarca">
                <option value="Atlantico">
                <option value="Amazonas">
            </datalist>
            <br>
            <label for="exampleDataList1" class="form-label">Lugar (ciudad, dpto)</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList1" placeholder="Lugar">
            <datalist id="datalistOptions">
                <option value="Pasto">
                <option value="Samaniego">
                <option value="Linares">
                <option value="Ancuya">
                <option value="Ipiales">
            </datalist>
            <div class="mb-3">
                <label for="formGroupExampleInput7" class="form-label">Tipo actividad</label>
                <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="">
            </div>
            <label>No anexo: </label>
            <input class="numero" type="number" value="0">
            <br>



        </fieldset>
        <fieldset>




        </fieldset>


        <div class="d-flex justify-content-center mt-3 datos_container">
            <button type="button" class="btn btn-secondary">Guardar</button>
        </div>
        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-3">
              <span class ="hand-pointer">
                <button type="button" class="btn btn-secondary">Regresar</button>
            </span>
            </div>
          </div>



    </form>




</body>

</html>