<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>Inicio</title>
  </head>
  <body>
    <section class="login-block">
      <div class="container">
        <div class="row">
          <div class="col-md-4 login-sec">
            <img style=" display:flex; margin:0 auto;" class="d-block img-fluid" src="../../assets/logo.png" alt="First slide" width="50%">
            <form class="login-form" #login="ngForm">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-uppercase"
                  >Usuario</label
                >
                <input type="text" class="form-control" placeholder="" name="correo" ngModel />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="text-uppercase"
                  >Contraseña</label
                >
                <input type="password" class="form-control" placeholder="" name="pas" ngModel />
              </div>

              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" />
                  <small>Recuerdame</small>
                </label>
                <button type="submit"  (click)="sesion(login)" class="btn btn-login float-right">
                  ingresar
                </button>
              </div>
            </form>
          </div>
          <div class="col-md-8 banner-sec divf">
            <div class="banner-text">
              <h2>Plan Mejoramiento</h2>
              <p style="font-family: 'Lato', sans-serif;" class="text-justify">
                Poner en marcha un Plan de Mejoramiento Institucional para
                mejorar la calidad de la educación es la tarea que se han
                propuesto todas las instituciones educativas del país. Un Plan
                de Mejoramiento es el resultado de un conjunto de
                procedimientos, acciones y metas diseñadas y orientadas de
                manera planeada, organizada y sistemática desde las
                instituciones. Se habla de un conjunto de acciones integradas,
                de una orientación, de un esfuerzo institucional, cuyo fin es
                alcanzar niveles adecuados de aprendizaje en los niños y los
                jóvenes, de tal forma que las instituciones logren preparar
                muchachos seguros y competentes. Cualquier Plan de Mejoramiento
                necesita determinar claramente cuál es su objetivo y cuáles las
                estrategias y actividades que se desarrollarán para lograrlo.
                Los Planes de Mejoramiento son liderados por el rector,
                acompañado de un equipo directivo de gestión, y deben involucrar
                a docentes, a padres y madres de familia y a estudiantes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
