<!DOCTYPE html>
<html>
  <img id="bg" src="assets/italia.jpg" alt="fondo" />
  <header><img src="assets/logo.png" alt="Unicesmag"></header>

  <body>
    
<div class="container">
  
  <div class="row">
    <div class="col-11">
    </div>
    <div class="col-1">
      <span class ="hand-pointer"(click)="datos()">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
      </svg>
    </span>
    </div>
  </div>
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" id="v-pills-mreportes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mreportes" type="button" role="tab" aria-controls="v-pills-mreportes" aria-selected="true">Mis reportes</button>
    <button class="nav-link" id="v-pills-creportes-tab" data-bs-toggle="pill" data-bs-target="#v-pills-creportes" type="button" role="tab" aria-controls="v-pills-creportes" aria-selected="false">Reportes compartidos</button>
</div>
  <div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-mreportes" role="tabpanel" aria-labelledby="v-pills-mreportes-tab">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo Proyecto</th>
            <th scope="col">Actividad</th>
            <th scope="col">Plan mejoramiento</th>
            <th scope="col">Caracteristicas</th>
            <th scope="col">Objetivo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let mr of misrep" >
            <th scope="row">{{mr.id}}</th>
            <td>{{mr.Nombre}}</td>
            <td>{{mr.Codigo_proyecto}}</td>
            <td>{{mr.Actividad}}</td>
            <td>{{mr.Plan_mejoramiento}}</td>
            <td>{{mr.Caracteristicas}}</td>
            <td>{{mr.Actividad}}</td>
            <td>
              <span class ="hand-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
              </span>
              &nbsp;
              <span class ="hand-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                </svg>
              </span>
              &nbsp;
              <span class ="hand-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="v-pills-creportes" role="tabpanel" aria-labelledby="v-pills-creportes-tab">reportes compartidos</div>
   </div>
</div>
</div>
<div class="row">
  <div class="col-11">
  </div>
  <div class="col-1">
    <span class ="hand-pointer"(click)="datos()">
      <button type="button" class="btn btn-secondary">Regresar</button>
  </span>
  </div>
</div>
</body>
</html>


 